<div class="input-shell" {% if field.type == 'file' %} data-upload-parent{% endif %}>
	<input  {% if field.id %} id="{{ field.id }}"
			{% endif %} type="{{ field.type?: 'text' }}" class="input{% if field.class %} {{ field.class }}{% endif %}{% if field.type == 'file' %} input--file{% endif %}{% if field.theme %} input--{{ field.theme }}{% endif %}"{% if field.placeholder %} placeholder="{{ field.placeholder }}"{% endif %}
		   {% if field.name %} name="{{ field.name }}"{% endif %}{% if field.pattern %} pattern="{{ field.pattern }}"{% endif %}{% if field.type == 'tel' %} data-parsley-pattern="^\+?[0-9]{11,15}$" data-mask-tel {% if field.mask_list %} data-mask='{% for item in field.mask_list %}{{item}},{% endfor %}' {% endif %} {% endif %}{% if field.type == 'email' %} data-parsley-pattern="/^([\w.*-]+@([\w-]+\.)+[\w-]{2,4})?$/" {% endif %}{% if field.attr %} {{ field.attr }}{% endif %}{% if field.autocomplete %} autocomplete="{{ field.autocomplete }}"{% endif %}{% if field.disabled %} disabled{% endif %}{% if field.required %} data-field-check required{% endif %}{% if field.value %} value="{{ field.value }}"{% endif %}{% if field.readonly %} readonly{% endif %}
		   {% if field.required %} data-parsley-trigger="change"{% endif %} spellcheck="false" {% if field.type == 'file' %} accept="{{ field.accept }}" data-upload-file {% endif %}
		{% if field.max_size %} data-max-size="{{ field.max_size }}" {% endif %}
		{% if field.sizeMessage %} data-errorsize="{{field.sizeMessage}}"{% endif %}
		{% if field.sizeMessage %} data-typetext="{{field.typeErrorMessage}}"{% endif %}
		{% if field.filetext %} data-filetext="{{field.filetext}}"{% endif %}
		
		>
	{% if field.label %}
        {% view '@field-label' with {
            field: field
        } %}
    {% endif %}

	{% if field.type == 'file' %}
		<div class="form__upload-file" data-upload-label>
			<label for="{{ field.id }}" class="label button" data-aria-value="{{ field.button_upload.aria }}">
				<span class="form__text-upload">
					{{ field.button_upload.text }}
				</span>
				<span class="form__icon-upload">
					{% view '@icon' with {
						icon: field.icon
					} %}
				</span>
			</label>
			<p class="form__upload-text"></p>
		</div>
	{% endif %}
</div>
