<div class="nav-arrows{% if nav_arrows.theme %} nav-arrows--theme-{{ nav_arrows.theme }}{% endif %}{% if nav_arrows.background %} nav-arrows--bg-{{ nav_arrows.background }}{% endif %}"{% if nav_arrows.attr %} {{ nav_arrows.attr }}{% endif %}>
	<div class="nav-arrows__buttons">
		<button disabled type="button" class="nav-arrows__button" data-nav-arrow-prev
				title="{{ title.prev ?: 'Назад' }}" aria-label="{{ title.prev ?: 'Назад' }}">
			{% view '@icon' with {
				icon: {
					name: "24/slider_left"
				}
			} %}
		</button>
		<button type="button" class="nav-arrows__button" data-nav-arrow-next
				title="{{ title.next ?: 'Вперед' }}" aria-label="{{ title.next ?: 'Вперед' }}">
			{% view '@icon' with {
				icon: {
					name: "24/slider_right"
				}
			} %}
		</button>
	</div>
</div>
